

<div class="content-form">
    <h3>Bir Yorum Ekleyin</h3>
    
<form method="post">
    <input type="text" placeholder="ID" name="Blogid" value="@ViewBag.deger" style="visibility:collapse" required />
    <input type="text" placeholder="Kullanıcı Adı" name="KullaniciAdi" required />
    <input type="text" placeholder="Mail" name="mail" required />
    <textarea placeholder="Yorum" name="Yorum"></textarea>
    <input type="submit" value="Gönder" />
</form>
</div>